@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control.phone-control.PhoneInput {
  display: flex;
  height: 56px;
  padding-left: 20px;
  border: 1px solid rgb(133, 133, 133);
}

input.PhoneInputInput:focus {
  outline: none;
}