@tailwind base;
@tailwind components;
@tailwind utilities;

.form-control.phone-control.PhoneInput {
  display: flex;
  height: 56px;
  padding-left: 20px;
  border: 1px solid rgb(133, 133, 133);
}

input.PhoneInputInput:focus {
  outline: none;
}

.photo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted grey;
}

img.custom-image {
  width: 150px !important;
  height: 127px !important;
  border: none !important;
  object-fit: cover;
}
