@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.form-control.phone-control.PhoneInput {
  display: flex;
  height: 56px;
  padding-left: 20px;
  border: 1px solid rgb(133, 133, 133);
}

input.PhoneInputInput:focus {
  outline: none;
}

.photo {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted grey;
}

img.custom-image {
  width: 150px !important;
  height: 127px !important;
  border: none !important;
  object-fit: cover;
}

.nav-main a {
  text-decoration: none;
  font-size: 14px;
  letter-spacing: .3px;
  color: #282c3f;
  border-bottom: none;
  -webkit-transition: left .2s ease-out,width .2s ease-out;
  transition: left .2s ease-out,width .2s ease-out;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-main {
  justify-content: normal;
}

.nav-end{
  float: right;
}

.nav-field {
  width: 400px;
  float: right;
  line-height: 0;
  position: relative;
}

.logo-container {
  float: left;
}